In [35]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

nation_2018 = pd.read_csv('data/2018_immigrants_nacionalitats.csv')
nation_2017 = pd.read_csv('data/2017_immigrants_nacionalitats.csv')
nation_2016 = pd.read_csv('data/2016_immigrants_nacionalitats.csv')
nation_2015 = pd.read_csv('data/2015_immigrants_nacionalitats.csv')
nation = pd.concat([nation_2018, nation_2017, nation_2016, nation_2015])

nation.info()
nation.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35370 entries, 0 to 11395
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             35370 non-null  int64
 1   Codi_Districte  35370 non-null  int64
 2   Nom_Districte   35370 non-null  object
 3   Codi_Barri      35370 non-null  int64
 4   Nom_Barri       35370 non-null  object
 5   Nacionalitat    35370 non-null  object
 6   Nombre          35370 non-null  int64
dtypes: int64(4), object(3)
memory usage: 2.2+ MB

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Nacionalitat,Nombre
0,2018,1,Ciutat Vella,1,el Raval,Espanyola,969
1,2018,1,Ciutat Vella,2,el Barri Gòtic,Espanyola,461
2,2018,1,Ciutat Vella,3,la Barceloneta,Espanyola,379
3,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Espanyola,588
4,2018,2,Eixample,5,el Fort Pienc,Espanyola,679

In [84]:
district = nation.groupby(['Any', 'Codi_Districte', 'Nom_Districte', 'Nacionalitat'])[['Nacionalitat']].count()
district = district.unstack(0)
district = district.drop(index = 99)
district.reset_index(inplace=True)
district

     Codi_Districte Nom_Districte Nacionalitat
Any                                             2015  2016  2017 2018
0                 1  Ciutat Vella   Afganistan   4.0   4.0   4.0  NaN
1                 1  Ciutat Vella      Albània   4.0   4.0   4.0  NaN
2                 1  Ciutat Vella     Alemanya   4.0   4.0   4.0  NaN
3                 1  Ciutat Vella      Algèria   4.0   4.0   4.0  NaN
4                 1  Ciutat Vella      Andorra   4.0   4.0   4.0  NaN
...             ...           ...          ...   ...   ...   ...  ...
1785             10    Sant Martí        Xipre  10.0  10.0  10.0  NaN
1786             10    Sant Martí     Zimbàbue  10.0  10.0  10.0  NaN
1787             10    Sant Martí       Zàmbia   NaN  10.0  10.0  NaN
1788             10    Sant Martí      Àustria  10.0  10.0  10.0  NaN
1789             10    Sant Martí        Índia  10.0  10.0  10.0  NaN

[1790 rows x 7 columns]

In [73]:
dis_2015 = nation_2015.groupby(['Codi_Districte', 'Nom_Districte', 'Nacionalitat'])[['Nacionalitat']].count()
dis_2015.iloc[1538:,:]

                                           Nacionalitat
Codi_Districte Nom_Districte Nacionalitat
10             Sant Martí    Àustria                 10
                             Índia                   10
99             No consta     Afganistan               1
                             Albània                  1
                             Alemanya                 1
...                                                 ...
                             Xina                     1
                             Xipre                    1
                             Zimbàbue                 1
                             Àustria                  1
                             Índia                    1

[156 rows x 1 columns]